# https://help.github.com/articles/ignoring-files/を確認してください。

# 依存関係
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# テスト関連
/coverage

# next.js
/.next/
/out/

# 本番用ビルド
/build

# その他
.DS_Store
*.pem

# デバッグ関連
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Lighthosue CI
.lighthouseci

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Storybook ビルドディレクトリ
storybook-static
